# Ignore all logs
logs/
*.log

# Except the .gitignore file
!logs/.gitignore

artifacts/*

mlops_zillow/*

#Ignore dvc.lock file
#dvc.lock
final.csv

/mlflow/mlruns/
dags/src/__pycache__/mlflow.cpython-310.pyc