# Ignore all logs
logs/
*.log

# Except the .gitignore file
!logs/.gitignore

artifacts/*

mlops_zillow/*

#Ignore dvc.lock file
#dvc.lock
final.csv

/mlflow/mlruns/
.DS_Store
src/.DS_Store

__pycache__/
./src/ZillowHouseData/pipeline/__pycache__ 
./src/ZillowHouseData/config/__pycache__ 
./src/ZillowHouseData/entity/__pycache__ 
./src/ZillowHouseData/constants/__pycache__ 
./src/ZillowHouseData/utils/__pycache__ 
./src/ZillowHouseData/__pycache__ 
./src/ZillowHouseData/components/__pycache__
./src/ZillowHouseData/components/__pycache__/data_ingestion.cpython-310.pyc
./src/ZillowHouseData/components/__pycache__/data_model.cpython-310.pyc
./src/ZillowHouseData/pipeline/__pycache__/stage_01_data_ingestion.cpython-310.pyc
./src/ZillowHouseData/pipeline/__pycache__/stage_02_data_preprocessing.cpython-310.pyc
./src/ZillowHouseData/pipeline/__pycache__/stage_03_modelling.cpython-310.pyc
/dags/data/
*.DS_Store
./src/ZillowHouseData/utils/__pycache__/
./src/ZillowHouseData/pipeline/__pycache__/
./src/ZillowHouseData/entity/__pycache__/
./src/ZillowHouseData/constants/__pycache__/
./src/ZillowHouseData/config/__pycache__/
./src/ZillowHouseData/components/__pycache__/
./src/ZillowHouseData/__pycache__/

mlruns/*

